<h1><%= pluralize(@articles.count, "article") %> waiting for you!</h1>
<p>
	<%= @time %>
</p>

<ul>
	<% @articles.each do |article| %>
		<li>
			<%= link_to article.title, article_path(article) %>
		</li>
	<% end %>
</ul>

<div><%= link_to "New article", new_article_path %></div>