<h1><%= pluralize(@articles.count, 'person', plural: 'peeps') %> waiting for you</h1>
<p>
	<%= @time %>
</p>

<ul>
	<% @articles.each do |article| %>
		<li>
			<%= link_to article.title, article_path(article) %>
		</li>
	<% end %>
<ul>